*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
::selection {
    background: rgb(113, 113, 113);  
    color: var(--mainColor);         
}
:root{
    --mainColor:rgb(251,216,80);
    --CardColor: rgb(26, 26, 26);
    --borderColor:rgb(51, 51, 51);
}
body{
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
body.no-scroll{
    overflow-y: hidden;
}
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
    margin: 0 auto;
    width: 94%;
    height: 52px;
    border-radius: 20px;
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    gap: 40px;
    transition: all 400ms ease-in-out;
}
header.invisible{
    opacity: 0;
    visibility: 0;
    pointer-events:none
}

.logo{
   height: 100%;
   display: flex;
   align-items: center;
  justify-content: center;
}

.logo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
   
}
.logo img{
   width: 85px;
}


.box {
    width:clamp(30px,5vw,40px);
    height:clamp(80px,5vw,80px);
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 6px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 999;
    filter: none;
    display: flex;
    color: black;
}

.linie1,
.linie2,
.linie3{
    background-color: white;
    height: 3px;
}

.linie1 {
    border-radius: 10px;
    width: 100%;
    transition: transform 600ms ease-in-out,translate 600ms ease-in-out,scale 600ms ease-in-out;
}

.linie1.cross {
    transform: rotate(45deg);
    translate:0 10px;
}
.linie2.cross {
    transform: rotate(-45deg);
}
.linie3.cross {
    opacity: 0;
}

.linie2 {
    border-radius: 10px;
    width: 80%;
    transition: transform 600ms ease-in-out,translate 600ms ease-in-out,scale 600ms ease-in-out;
}

.linie3 {
    border-radius: 10px;
    width: 60%;
    transition:opacity 400ms ease-in-out;
}


.side-bar{
    width: 60vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 0px;
   align-items: start;
   transition: left 400ms ease-in-out;
   z-index: 9999;
}
.side-bar.open_side_bar{
    left: 0%;
}

.side-bar .close{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 4px;
    right: 12px;
    cursor: pointer;
}
.side-bar h4{
    color: white;
    font-size: 24px;
    width: 90%;
    text-align: left;
    position: relative;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}
.side-bar h4::before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: 1px;
    background-color: grey;
}


#homeBTN{
    margin-top: 20px;
    font-size: 24px;
    margin-left: 14px;
    margin-bottom: 40px;
}
#current-page{
    position: relative;
}

#current-page::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    height: 90%;
    transform: translateY(-50%);
    width: 3px;
    background-color: var(--mainColor);
    z-index: 1;
    border-radius: 20px;
}



.side-bar li{
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-left: 4px;
}

.side-bar li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.side-bar li a:hover{
    color: var(--mainColor);
}
.side-bar-servicii{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
    margin-bottom: 28px;
}
.side-bar-servicii li{
    width:fit-content;
    padding: 2px;
    margin-left: 14px;
}

.side-bar h4:nth-of-type(1){
    margin-bottom: 12px;
}
.side-bar h4:nth-of-type(2){
    margin-top: 36px;
}

.social-media{
    width: 90%;
    margin-top: 8px;
    display: flex;
    gap: 16px;
    margin-left: 14px;
}
.social-media i{
    color: white;
    font-size: 32px;
    margin-left: 4px;
    margin-top: 4px;
    color:var(--mainColor);
}
.container-contact{
    width: 99%;
    position: absolute;
    bottom: 4px;
    height: 45px;
    left: 0%;
    display: flex;
    align-items: center;
    gap:4px;
}
.container-contact li i{
    font-size: 26px;
}
.container-contact li:nth-of-type(2){
    margin-right: 4px;
}
.container-contact li{
    width: 50%;
    cursor: pointer;
    height: 100%;
}
.container-contact li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container-contact li:nth-child(1) a{
    background-color: #25D366;
}
.container-contact li:nth-child(1) a i{
    color: white;
}
.container-contact li:nth-child(2) a{
    background-color: var(--mainColor);
}
.container-contact li:nth-child(2) a i{
    color: black;
}

.navbar-orizontal{
    height: 100%;
    display: flex;
    justify-content: center;
}
.navbar-orizontal ul{
    gap: clamp(20px,4vw,60px);
    width: 100%;
    display:flex;
    height: 100%;
    justify-content: center;
    width: max-content;
    align-items: center;
}
.navbar-orizontal ul li{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    width: max-content;
    font-size: 20px;
    font-weight: 500;
    gap: 8px;
    position: relative;
    transition: color 400ms ease-in-out;
}
.navbar-orizontal ul li:hover > a{
    color: var(--mainColor);
}
.navbar-orizontal ul li:hover{
    color: var(--mainColor);
}


.navbar-orizontal ul li a{
    color: white;
    text-decoration: none;
    padding: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    transition: color 400ms ease-in-out;
}
#Servicii-Drop-Down-Li{
    cursor: pointer;
    font-size: 24px;
}
#Servicii-Drop-Down-Li i{
   transition: rotate 250ms ease-in-out;
}

.CTA-Header{
    margin-right: 12px;
}
.CTA-Header a{
    background-color:var(--mainColor);
    padding: 8px 16px;
    border-radius: 10px;
    color:black;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    gap: 8px;
    align-items: center;
}



.drop-down-servicii{
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    width:max-content;
    padding: 0 12px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    overflow: hidden;
    align-items: center;
    opacity: 0;
    gap: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: height 400ms ease-in-out, opacity 600ms ease-in-out;
}
.drop-down-servicii a{
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 4px !important;
    transition: color 400ms ease-in-out;
}
.drop-down-servicii.extend-list{
    height: 250px;
    opacity: 1;
}
.drop-down-servicii a:hover{
    color: var(--mainColor);
}


@media(max-width:849px){
    .navbar-orizontal{
        display: none;
    }
    .CTA-Header{
        display: none;
    }
}
@media (min-width:850px){
    header{
        width: 94%;
        margin: 0 auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        top: 12px;
        height: 70px;
        justify-content: space-between;
        gap: 0px;
    }
    .box{
        display: none;
    }
    .logo img{
        margin-left: 4px;
        margin: 0;
        width: 95px;
     }
}

@media(min-width:1100px){
    .navbar-orizontal ul{
        margin-right: -120px;
    }
}

.loading-screen{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    gap: 0;
    background-color: rgb(0, 0, 0);
    transition: all 500ms ease-in-out;
}
.loading-screen.loadingCompleted{
   visibility: hidden;
   pointer-events: none;
    opacity: 0;
}
.loading-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
    height: 100px;
}
.loading-bar{
    width: 98%;
    height: 55px;
    border-radius: 10px;
    background-color: var(--CardColor);
    position: relative;
}
.loading-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    transition: width 1.25s linear;
}
.loading-line.StartAnimation{
    width: 100%;
    justify-content: end;
}
.loading-line img{
    width: 90px;
    position: relative;
    height: auto;
    right: 4px;
    transition: left 1.5s ease-in-out;
}
.loading-lineimg.StartAnimation{
    left:82.5%;
    opacity: 1;
    visibility: visible;
}
@media(min-width:600px){
    .loading-bar{
        width: 80%;
        height: 70px;
    }
    .loading-line img{
        width: 100px;
    }
}
@media(min-width:1100px){
    .loading-bar{
        width: 40%;
    }
}

/* aici se termina headerul */

.main-content{
    transition: filter 350ms ease-in-out;
}
.main-content.blured{
    filter: brightness(0.8) blur(1px);
    pointer-events: none;
}



.hero-section{
    width: 100%;
    height: 55vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    gap: 32px;
}
.hero-section::before{
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, black, transparent);
    z-index: 1;
}
.hero-section img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(0.6);
}
.hero-section h1{
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
    line-height:1.25;
    font-size: 36px;
    margin-top: 20px;
    font-weight: 600;
    margin-top: 52px;
}
.hero-section h1 span{
    color: white;
}
#descriere-serviciu{
    position: relative;
    z-index: 2;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 90%;
    line-height: 1.5;
    font-size:16px;
    font-weight: 400;
    margin: 0 auto;
}
.container-explained{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    display: none;
}
.container-explained h4{
    color: white;
    font-size: 24px;
    margin-left: 12px;
}
.container-explained p{
    color: white;
    line-height: 1.5;
    margin-left: 12px;
}

@media(min-width:650px){
    .hero-section{
        height: 98vh;
        margin-bottom: 40px;
    }
    .hero-section h1{
       margin-top: 0px;
       text-align: center;
       font-size: clamp(40px,7.5vw,80px);
    }
    #descriere-serviciu{
        width: 60%;
        font-size: clamp(16px,2vw,24px);
    }
}

#titlu-pachete{
    font-size: 28px;
    color: white;
    margin-top:0;
    margin-bottom: 24px;
    text-align: center;
    line-height: 1.25;
    font-weight: 600;
}
#titlu-pachete span{
    color:var(--mainColor);
    font-weight: 750;
    font-size: 30px;
}

.body-size-select{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info p{
    color: white;
    width: 90%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 32px;
}
.size-select{
    display: flex;
    height: 300px;
    width: 96%;
    gap: 24px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.size-select::-webkit-scrollbar{
    display: none;
}
#bottom{
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    left: 0;
    bottom: 80%;
}
@media(max-width:550px){
    #bottom{
        top: 0%;
    }
}
.card-size{
    min-width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--mainColor);;
    justify-content: space-evenly;
    padding: 12px;
    overflow: hidden;
    gap: 8px;
    filter: brightness(0.5) grayscale(1);
    transition: filter 200ms ease-in-out;
    cursor: pointer;
}
.card-size.selected-size{
    filter: none;
}
.card-size.shake{
    animation: gentle-shake 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes gentle-shake {
    0%   { transform: translateX(0); }
    15%  { transform: translateX(-5px); }
    30%  { transform: translateX(4px); }
    45%  { transform: translateX(-3px); }
    60%  { transform: translateX(3px); }
    75%  { transform: translateX(-2px); }
    90%  { transform: translateX(2px); }
    100% { transform: translateX(0); }
  }
.card-size h4{
    font-size: 24px;
    color: black;
}
.card-size .size-example{
    display: flex;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}
.card-size .size-example p{
    color: black;
    padding: 2px 4px;
    border-radius: 20px;
    border: 1.25px solid black;
    display: flex;
    font-size: 16px;
    height: 24px;
    justify-content: center;
    align-items: center;

}
.card-size .size-example p:last-child{
    border: none;
    font-size: 28px;
    font-weight: 800;
}
.card-size img{
    width: 100%;
    transform: translateX(-40%) scale(1.1);
    margin-top: 40px;
    transition: transform 350ms ease-in-out;
}

.card-size img.focus{
    transform: translateX(-15%) scale(1.1);
}

@media(min-width:650px){
    #titlu-pachete{
        font-size: clamp(32px,6vw,60px);
    }
    #titlu-pachete span{
        font-size: clamp(34px,6vw,64px);
    }
    .info p{
       width: 80%;
       font-size: clamp(20px,2vw,28px);
       margin-top: 20px;
    }
    .info{
        margin-bottom: 24px;
    }
    .size-select{
        width: 94%;
        height: 400px;
        gap: 40px;
        overflow-x: visible;
    }
    .card-size{
        min-width: 0;
        width: 100%;
        gap: 16px;
        transition: filter 400ms ease-in-out;
    }
    .card-size .size-example{
        display: flex;
        gap: 8px;
        width: 70%;
        flex-wrap: wrap;
    }
    .card-size img{
        width: 75%;
        height: 250px;
        transform: translateX(-40%) scale(1);
        transition: transform 450ms ease-in-out;
        margin-bottom: -40px;
        object-fit: contain;
    }
    .card-size img.focus{
        transform: translateX(-15%) scale(1);
    }
    .card-size h4{
        font-size: 28px;
        margin-bottom: 0px;
    }
}
@media(min-width:850px){
    .card-size .size-example{
        display: flex;
        gap: 8px;
        width: 60%;
        flex-wrap: wrap;
    }
}

.preturi{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
    gap: 40px;
}
.card-pret{
    width: calc(90% - 12px);
    background-color: var(--CardColor);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    position: relative;
    gap: 20px;
    opacity: 0;
    transform: translateY(20%);
    border: 1px solid var(--borderColor);
    transition:all 400ms ease-in-out;
}
.card-pret:hover{
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.14);
}
.card-pret.active{
    opacity: 1;
    transform: translateY(0%);
}
.card-header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 12px;
    overflow: hidden;
    height: 40px;
}
.card-header svg{
    width: 34px;
    height: 40px;
    fill:var(--mainColor);
    stroke:var(--mainColor);
    stroke-width: 1px;
}
.card-pret h4{
    color: white;
    font-size: 22px;
}
#engine-svg{
    height: auto;
    width: 40px;
    stroke-width: 80px;
}
.pret{
    color: black;
    font-size: 22px;
    font-weight: 700;
    width: 60%;
    padding: 8px 0;
    border-radius: 20px;
    background-color:var(--mainColor);
    text-align: center;
}
.pretStatic{
    color: black;
    font-size: 22px;
    font-weight: 700;
    width: 60%;
    padding: 8px 0;
    border-radius: 20px;
    background-color:var(--mainColor);
    text-align: center;
}
.pretSEMI{
    color: black;
    font-size: 22px;
    font-weight: 700;
    width: 60%;
    padding: 8px 0;
    border-radius: 20px;
    background-color:var(--mainColor);
    text-align: center;
}
.content-card{
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
    padding-bottom: 8px;
    font-size: 15px;
}
.content-card  .included{
    padding: 4px 8px;
    border-radius: 20px;
    width: fit-content;
    border: 1.25px solid rgb(255, 255, 255);
}
.content-card  .included span{
    font-weight: bold;
    font-size: 16px;
}
.content-card  .not-included{
    padding: 4px 8px;
    border-radius: 20px;
    width: max-content;
    border: 1.25px solid rgb(255, 255, 255);
    text-decoration: line-through;
    filter: brightness(0.5);
}


.wrapperSemiDetailing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    opacity: 0;
}
.wrapperSemiDetailing.active{
    opacity: 1;
    transform: translateY(0%);
}
.container-semi-detailing{
    color: white;
    gap: 12px;
    margin-top: 20px;
    padding: 0 14px;
    display: grid;
    gap: 12px;
}
.container-semi-detailing h4{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
}
.container-semi-detailing h4 span{
    color: var(--mainColor);
    font-weight: 750;
}
.container-semi-detailing p{
    font-size: clamp(16px,1vw,18px);
    text-align: center;
    line-height: 1.5;
    width: 96%;
    margin: 0 auto;
}
.container-semi-detailing h4.visible-title{
    opacity: 1;
}
.container-semi-detailing p.visible-title{
    opacity: 1;
}

#SVG_Semi_Detailing{
    height: 100px;
    width: 40px;
    margin-left: -8px;
}
#card-semi-detailing{
}
.semi-detailing-extra-info{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 4px;
    background-color: var(--mainColor);
    border-radius: 10px;
}
.semi-detailing-extra-info p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
}
#SVG_Clock{
    fill: rgb(0, 0, 0);
    width: 22px;
}
.semi-detaling-heading{
    margin-left: -16px;
}

.containerINFO{
    width: calc(90% - 12px);
    padding: 12px;
    border-radius: 20px;
    background-color: var(--CardColor);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 24px;
    opacity: 0;
    transform: translateY(20%);
    border: 1px solid var(--borderColor);
}
.containerINFO.active{
    opacity: 1;
    transform: translateY(0%);
}
.containerINFO p{
    line-height: 1.75;
    font-size: clamp(16px,2vw,18px);;
}
.containerINFO h2{
    color: white;
    font-weight: bold;
    font-size: clamp(28px,3vw,36px);
    text-align: center;
    margin-bottom: 4px;
}
.containerINFO span{
    color: red;
}
.wrapperINFO{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 8px;
}
.wrapperINFO h4{
    font-size:clamp(22px,3vw,28px);
}
.wrapperINFO h6{
    font-size: clamp(20px,3vw,24px);
}
.wrapperINFO img{
    width: 100%;
    max-height: 150px;
    margin-top: 12px;
    object-fit: contain;
}

.wrapperServiciiExterne{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(20%);
}
.wrapperServiciiExterne.active{
    opacity: 1;
    transform: translateY(0%);
}
.wrapperServiciiExterne .contentServicii{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
}
.contentServicii p{
    color: white;
    text-align: center;
    font-size: clamp(16px, 2vw, 20px);
}
.contentServicii h4{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: clamp(28px, 3vw, 36px);
}
.contentServicii h4 span{
    color: var(--mainColor);
}
@media(min-width:900px){
    .preturi{
        margin: 0 auto;
        width: 94%;
        gap: 40px;
        display: grid;
        justify-content: start;
        align-content: start;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 80px;
    }
    #cardSemiDetailing{
        grid-column: 1/2;
        width: 125%;
    }
    .wrapperServiciiExterne{
        grid-column: 1 / -1;
        grid-row: 2;
        flex-direction: row;
        margin-top: 20px;
    }
    .contentServicii{
        width: 60%;
    }
    .contentServicii p{
        width: 80%;
    }
    #cardExtraServicii{
        width: 60%;
    }
    .containerINFO{
        grid-column: 1 / -1;
        grid-row: 2;
        width: calc(100% - 24px);
        display: grid;
        align-items: center;
        row-gap: 40px;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .wrapperINFO:nth-of-type(1){
        grid-column: 1/3;
    }
    .wrapperINFO:nth-of-type(2){
        grid-column: 1/3;
    }

    .wrapperINFO:nth-of-type(3){
        grid-column: 1/2;
        text-align: left;
    }
    .wrapperINFO:nth-of-type(3) h6{
        text-align: left;
        width: 100%;
    }

    .wrapperINFO:nth-of-type(4){
        grid-column: 2/3;
        text-align: left;
    }
    .wrapperINFO:nth-of-type(4) h6{
        text-align: left;
        width: 100%;
    }
    .wrapperSemiDetailing{
        grid-row: 3;
        grid-column: 1 / -1;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
    }
    .container-semi-detailing{
     opacity: 1;
     width: 60%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin-top: -40px;
    }
    .card-pret{
        width: 90%;
        margin: 0 auto;
        grid-row: 1/2;
        grid-column: auto;
    }
    #CardMotor{
        grid-column: 1/2 !important;
        width: 100% !important;
    }
    #card-semi-detailing{
        width:40%;
        margin: 0;
        transition: opacity 1000ms ease-in-out,transform 1000ms ease-in-out;
    }
    #SVG_Semi_Detailing{
        margin-left:0px;
    }
    .semi-detaling-heading{
        margin-left:-4px;
    }
    .container-semi-detailing h4{
        font-size: clamp(24px,3vw,40px);
        font-weight: 700;
        text-align: center;
        margin:0 auto;
        margin-bottom: 12px;

        transition: opacity 1000ms ease-in-out,transform 1000ms ease-in-out;
    }
    .container-semi-detailing p{
       font-size: 20px;
       width: 90%;
       transition: opacity 1000ms ease-in-out,transform 1000ms ease-in-out;
    }
}



.body-maps{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54vh;
    position: relative;
    margin: 32px 0;

}
.body-maps iframe{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid black;
}
.body-maps  .redirect{
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100.5%;
    height: 50%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 12px;
    pointer-events: none;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
}
.body-maps  div span{
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 6px;
    pointer-events: auto;
}
.body-maps div span:last-of-type{
    margin-bottom: 24px;
}
.body-maps  div span a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.body-maps  div span a i{
    font-size: 18px;
}
.waze p{
    color: rgb(0, 174, 255);
    font-weight: 700;
}
.google-maps p{
    color: red;
    font-weight: 700;
}

@media(min-width:750px){
    .body-maps{
        height: 60vh;
    }
    .body-maps  div span{
        padding: 12px;
        cursor: pointer;
    }
    .body-maps  div span a{
        font-size: 20px;
    }
    .body-maps  div span a i{
        font-size: 22px;
    }

}
.CTA-body{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 28px;
    margin: 0 auto;
    background-color:var(--CardColor);
    padding:20px 12px; 
    margin-top: 40px;
    overflow: hidden;
    border-radius: 20px;
}
.container-cta h4{
    font-size: clamp(28px,4vw,40px);
    text-align: center;
    width:100%;
    color: var(--mainColor);
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    line-height: 1.25;
    z-index: 1;
}
.CTA-body a{
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    color:black;
    padding: 8px 16px;
    font-weight: 700;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--mainColor);
}

.before_after_section{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 4/3;
}
.before_after_section img{
    pointer-events: none;
    user-select: none;
}
.slider-before,
.slider-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-after {
    clip-path: inset(0 50% 0 0);
}

.slider-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 6px;
    height: 100%;
    background-color: black;
    transform: translateX(-50%);
    z-index: 10;
}

.slider-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    background: black;
    border-radius: 50%;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.slider-button svg {
    width: 24px;
    stroke: var(--mainColor);
}

@media(min-width:650px){ 
.CTA-body{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    gap: 40px;
    padding: 12px;
    display: grid;
    height: 500px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
}
.container-cta{
    grid-column: 1/2;
    grid-row: 1/2;  
    height: 100%;
    width: auto;
    display: flex;
    align-items: end;
}
.container-cta h4{
    color: var(--mainColor);
    width: 90%;
}
.container-cta h4 span{
    color: var(--mainColor);
}
.wrapperContact{
    grid-column: 1/2;
    grid-row: 2/3;    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.before_after_section{
    height: 100%;
    width: 100%;
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/3;   
}
}

.body-slide{
    width: 100%;
    height:80px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color:rgb(0, 0, 0);
    z-index: 4;
    pointer-events: none;
    margin-top: 40px;
}
.container-slide{
    height:80%;
    display: flex;
    position: relative;
    animation: slideInf 20s infinite linear;
    opacity: 1;
}
.container-slide::-webkit-scrollbar{
    display: none;
}
@keyframes slideInf {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.body-slide::before,
.body-slide::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0;
    z-index: 100;
}
.body-slide::before{
    left: 0;
    background-image: linear-gradient(to right,rgb(0, 0, 0),transparent);
}
.body-slide::after{
    right: 0;
    background-image: linear-gradient(to left,rgb(0, 0, 0),transparent);
}

.imagine-slide{
    min-width:125px;
    overflow: hidden;
    height: 100%;
    margin-right: 20px;
}
.invert{
    filter: invert(1);
}
.imagine-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.scaleLOGO{
    transform: scale(1.75);
}
@media(min-width:750px){
    .container-slide{
        height:80%;
        display: flex;
        gap: 20px;
        position: relative;
        animation: slideInf 20s infinite linear;
        opacity: 1;
    }
    .container-slide::-webkit-scrollbar{
        display: none;
    }
    
    .imagine-slide{
        min-width:300px;
        overflow: hidden;
        height: 100%;
    }
    .invert{
        filter: invert(1);
    }
    .imagine-slide img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}




.locatie{
    color:rgba(255, 255, 255, 0.75);
    margin-left: 12px;
    width: 90%;
    margin-bottom: 12px;
    font-size: 14px;
}
.program{
    width: 90%;
    display: flex;
    gap: 8px;
    align-items: center;
    --pulse_color:rgb(0, 255, 0);
    margin-left: 8px;
    margin-top: 40px;
    margin-bottom: 6px;
    font-size: 14px;
}
.program .circle{
    border-radius: 100%;
    padding: 8px;
    background-color: var(--pulse_color);
    box-shadow: 0 0 10px var(--pulse_color);
    animation: Pulse 1400ms ease-in-out infinite;
}
.program .circle{
    border-radius: 100%;
    padding: 8px;
    background-color: var(--pulse_color);
    box-shadow: 0 0 10px var(--pulse_color);
    animation: Pulse 1400ms ease-in-out infinite;
}
@keyframes Pulse{
    0%{
        box-shadow: 0 0 0px var(--pulse_color);
    }
    100%{
        box-shadow: 0 0 20px var(--pulse_color);
    }
}
.program p{
    color: white;
}

@media(min-width:650px){
    .locatie{
        color:rgba(255, 255, 255, 0.75);
        margin-left: 18px;
        width: 90%;
        margin-bottom: 24px;
        position: relative;
        font-size: 18px;
    }
    .program{
        width: 90%;
        display: flex;
        gap: 12px;
        position: relative;
        align-items: center;
        --pulse_color:rgb(0, 255, 0);
        margin-left: 14px;
        margin-top: 60px;
        margin-bottom: 6px;
        font-size: 18px;
      
    }
}


/* aici incepe sectiunea de footer */

footer {
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    overflow: hidden;
    padding-top:8px;
    padding-bottom: 12px;
}
footer a{
    transition: color 250ms ease;
}
footer a:hover{
    color: var(--mainColor);
}
#footer-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5) blur(2px);
    z-index: 0;
}
footer .container-title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    margin-bottom: 12px;
}
footer h4{
    z-index: 2;
    font-size: clamp(22px,4vw,52px);
    color:var(--mainColor);
    font-weight: 650;
    letter-spacing: 2px;
    position: relative;
    margin-left: 16px;
}
.footer-social-media{
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 8px;
    justify-content: center;
    margin-right: 12px;
}
.footer-social-media a{
    padding: 8px;
}
.footer-social-media a i{
    color: var(--mainColor);
    font-size: 24px;
}
footer h5{
    z-index: 2;
    font-size: 20px;
    color:var(--mainColor);
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-left: 32px;
}

.footer-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 2;
    gap: 4px;
    padding-left: 40px;
    margin-bottom: 32px;
    margin-top: 12px;
}
.footer-contact a{
    color: white;
    display: flex;
    gap: 8px;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
    padding: 4px;
}
.footer-contact a i{
    font-size: 20px;
}
.footer-servicii{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 2;
    gap: 4px;
    padding-left: 40px;
    margin-bottom: 32px;
    margin-top: 4px;
}
.footer-servicii a{
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    padding: 4px;
}

.autor {
    font-size:clamp(14px,2vw,22px);
    text-align: center;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    line-height: 1.35;
    color: white;
}

@media(min-width:650px){
    footer{
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
    footer .container-title{
        margin-bottom: 28px;
    }
    footer h4{
        padding-left: 4px;
    }
    .footer-social-media{
        display: flex;
        align-items: center;
        z-index: 2;
        gap: 16px;
        justify-content: center;
        margin-right: 16px;
    }
    .footer-social-media a{
        padding: 10px;
    }
    .footer-social-media a i{
        color: var(--mainColor);
        font-size: 48px;
    }
    footer h5{
        z-index: 2;
        font-size: 36px;
        color:var(--mainColor);
        font-weight: 600;
        width: 100%;
        text-align: left;
        margin-left: 40px;
    }
    
    .footer-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        z-index: 2;
        gap: 4px;
        padding-left: 64px;
        margin-bottom: 32px;
        margin-top: 12px;
    }
    .footer-contact a{
        color: white;
        display: flex;
        gap: 8px;
        text-decoration: none;
        font-size: 20px;
        align-items: center;
        padding: 5px;
    }
    .footer-contact a i{
        font-size: 20px;
    }
    .footer-servicii{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        z-index: 2;
        gap: 4px;
        padding-left: 64px;
        margin-bottom: 32px;
        margin-top: 4px;
    }
    .footer-servicii a{
        color: white;
        display: flex;
        text-decoration: none;
        font-size: 24px;
        align-items: center;
        padding: 4px;
    }
}
